article p{
    background-color: darkorchid;
    
}

.vstyplenie{
    display: flex;
    align-content: center;
}
input{
    background-color: lime;
}
.komaru:hover{
    transform:rotate(180deg)
}

.imgs{
    animation-name: kartinki;
    animation-duration: 3s;
    animation-iteration-count: infinite;
}
@keyframes kartinki{
    50%{
        transform: scale(1.4);
    }
    100%{
        transform: scale(1);
    }
}
a{
    text-decoration: none;
    display: inline-block;
    color:DarkOrchid;
    background-color: lime;
    padding: 12px 32px;
    border-radius: 9px;
}

a:hover{
    color: lime;
    background-color: darkorchid;
}
h1{
    color: rgb(0, 255, 0)
}

article{
    padding: 10% 20%; 
    background-image: url(fon.png);
}
.menu{
    position: fixed;
}
